{% extends "base.html" %}

{% block content %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        <a href="{% url 'account:profile' pk=topic.author.pk %}" class="text-decoration-none">
            <img src="{{ topic.author.avatar.url }}" style="width:100px;height:100px;">
            <h3>{{ topic.author.username }}</h3>
        </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{topic.title}}</h5>
        <p class="card-text">{{topic.description}}</p>
          <p class="card-text"><span class="badge bg-secondary ms-2" style="font-size: 0.65rem;">
            Сообщений: {{ topic.author.get_comments_count }}
        </span></p>
        <p class="card-text"><small class="text-muted">{{ topic.created_at| date:'Y-m-d' }}</small></p>
      </div>
    </div>
  </div>
<h5 class="mb-3">Ответы:</h5>
<div class="answers-container mb-4" style="max-width: 650px;">
     {% for answer in page_obj %}
    <div class="card mb-2">
    <div class="card-body">
        <a href="{% url 'account:profile' pk=answer.author.pk %}">
            <img src="{{ answer.author.avatar.url }}" style="width:40px;height:40px;">
            {{ answer.author.username }}
        </a>
        <p>{{ answer.text }}</p>
        <small>{{ answer.created_at|date:"Y-m-d H:i" }}</small>
       {% if request.user == answer.author or request.user.is_staff or request.user.is_superuser %}
        <div class="ms-2">
            <a href="{% url 'account:answer_update' pk=answer.pk %}" class="btn btn-link btn-sm text-secondary p-0 me-1" title="">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'account:answer_delete' pk=answer.pk %}" class="btn btn-link btn-sm text-danger p-0" title="">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        {% endif %}
    </div>
</div>
    {% empty %}
    <div class="alert alert-light text-muted border text-center py-3" style="max-width: 650px;">
        В этой теме еще нет ответов
    </div>
    {% endfor %}
</div>
        {% if is_paginated %}
        {% include 'partial/pagination.html' %}
            {% endif %}
<div class="mt-4">
        {% if request.user.is_authenticated %}
            <div class="card p-3 bg-white" style="max-width: 600px;">
                <h6>Оставить ответ:</h6>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.text }}
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Отправить</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-light text-muted border" role="alert">
                Только авторизованные пользователи могут оставлять ответы. Войдите на сайт.
            </div>
        {% endif %}
</div>
        </div>
{%endblock%}